* {
  margin: 0px;
}

.app {
  display: grid;
  place-items: center;
  background-color: #20232ae7;
  height: 100vh;
}

.app__body {
  display: flex;
  margin-top: -50px;
  background-color: #262A33;
  height: 90vh;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}
